{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "no-empty-source": null,
    "function-name-case": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "function",
          "if",
          "each",
          "include",
          "mixin",
          "return",
          "else",
          "extend",
          "for",
          "use"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global",
          "local",
          "export"
        ]
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^virtuo-/"
        ]
      }
    ]
  }
}
